<!DOCTYPE html>
<html lang="en" ng-app="TodoModule" ng-cloak>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material/angular-material.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body ng-controller="TodoController">
    
    <md-content flex layout-padding>
      <div layout="row" layout-xs="column" layout-sm="column">
        <div flex-sm="50" flex="50" flex-xs="50">
          <md-content flex layout-padding>
            <md-toolbar class="md-primary">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">Add a Task</h2>
              </div>
            </md-toolbar>
            <md-content flex layout-padding>
              <form name="taskForm" flex>
                <md-input-container class="md-block">
                  <label>Task name</label>
                  <input required name="name" ng-model="task.name">
                  <div ng-messages="taskForm.name.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                  <label>Description</label>
                  <textarea  style="height:100px;" ng-model="task.description" md-maxlength="400" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                
                <div layout="row">
                  <div flex="65">
                  </div>
                  <div flex="10">
                    <md-progress-circular md-mode="indeterminate" ng-show="showProgressbar"></md-progress-circular>
                  </div>
                  <md-button type="submit" ng-click="addTask()" class="md-raised md-primary" flex="25" ng-disabled="showProgressbar">Add Task</md-button>
                </div>
                
              </form>
              <br>
              <br>
              <br>
              <br>
              <span class="md-subhead">Source Code</span>
              <br>
              <a href="https://github.com/skavinvarnan/SailsTodo" target="_blank"><span class="md-subhead">https://github.com/skavinvarnan/SailsTodo</span></a>
              
            </md-content>
          </md-content>
        </div>
        <div flex-sm="50" flex="50" flex-xs="50">
          <md-content flex layout-padding>
            <md-toolbar class="md-warn">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">List of Tasks</h2>
              </div>
            </md-toolbar>
            <md-content flex layout-padding>
              <md-list-item class="md-2-line" ng-repeat="todo in todos">
                <md-checkbox ng-change="taskStatusChanged()" ng-model="todo.status" aria-label="status">
                </md-checkbox>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ todo.name }}</h3>
                  <h4>{{ todo.description }}</h4>
                </div>
              </md-list-item>
            </md-content>
          </md-content>
        </div>
      </div>
    </md-content>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-material.js"></script>
    <script src="/js/dependencies/angular-messages.js"></script>
    <script src="/js/todo/TodoModule.js"></script>
    <script src="/js/todo/TodoController.js"></script>
    <!--SCRIPTS END-->
  </body>
      
</html>