<!DOCTYPE html>
<html lang="en" ng-app="TodoModule" ng-cloak>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material/angular-material.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body ng-controller="TodoController">
    
    <h1>{{helloAngular}}</h1>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-material.js"></script>
    <script src="/js/dependencies/angular-messages.js"></script>
    <script src="/js/todo/TodoModule.js"></script>
    <script src="/js/todo/TodoController.js"></script>
    <!--SCRIPTS END-->
  </body>
      
</html>